@use '../helpers/' as *;

.container{
    padding: 20px;
}

.card{
    width: 400px;
    border-radius: 20px;
    background: $c-white;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
    overflow: hidden;
    box-shadow: 0 10px 10px 3px rgba(0, 0, 0, 0.1);

}

.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.18);
}


.card__header{
    background: linear-gradient(135deg, $c-dark-purple, $c-purple-blue);
    padding: 40px 20px 30px; // 위에서부터 시계방향
    
    color: $c-white;
    // 가운데 정렬
    text-align: center;

}

.card__avatar{
    width: 120px;
    border-radius: 50%;
    border: 4px solid $c-white;

    transition: transform 0.5s ease; // 효과에 대한 시간, 타이밍 설정
    will-change: transform;
    text-align: center;

    margin: 0 auto; // 위아래 0, 좌우는 auto로 자동 계산

    object-fit: cover; // 

}

.card__avatar:hover{ // 띄어쓰기 없이 붙여써야 인식됨
    transform: scale(1.1); // 효과
}


.card__name{
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.card__role{
    font-size: 14px;
    margin-top: 10px;

}

.card__body{
    padding: 30px;
}

.card__description{
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 30px;
}

.card__stats{
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e5e7eb;
    border-top: 1px solid #e5e7eb;
    padding: 20px 0;
}

.card__stats .stat{
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    text-align: center;
}

.card__stats .stat:hover{
    transform: translateY(-3px);
}

.card__stats .stat__number{
    font-size: 20px;
    font-weight: $fw-bold;
    color: #1f2937;
}

.card__stats .stat__label{
    font-size: 12px;
    font-weight: $fw-light;
    color: $c-dark-text;
    margin-top: 10px;
    
}

.card__footer{
    text-align: center;
    padding: 20px 30px 30px;

    display: flex;
    gap: 15px;
}

.card__footer .btn{
    flex: 1;
    font-weight: 600;
    border-radius: 8px;
    
}


.card__footer .btn{
    padding: 12px 24px;
    transition: transform 0.3s ease;
    font-weight: 600;
    border-radius: 8px;

}

.btn.btn--primary{
    background-color: $c-purple-blue;
    color: $c-light;
}

.btn.btn--secondary{
    background-color: $c-light;
    color: $c-dark-text;
}

.btn:hover{
    transform: translateY(-2px);
    box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.1);
}

