/*
    COLOR
*/
$c-white: #fff;
$c-light: #f2f2f0;
$c-select: #cb9f87;
$c-dark: #5b5754;
$c-gray: #8e8883;
$c-scroll: #c7c4c1;
$c-dark-gray: #413f3d;
$c-alert-btn: #ffd92c;
$c-border: #ee650d;
$c-sub: #582800;
$c-privacy: #2a89fa;
$c-black: #000;
$c-footer: #1b1c20;

$c-purple-blue: #6366f1;
$c-dark-purple: #8b5cf6;
$c-dark-text: #1f2937;
$c-light-text: #6b7280;



/*
    Z-INDEX
*/
$z-header: 10;
$z-floting: 20;
$z-select: 1;
$z-popup: 50;
$z-loading: 100;
$z-back: -1;

/*
    PATH
*/
$path-image: '../images';

/*
    FONT-WEIGHT
*/

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;